__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specifics
/model/saved_models/
/results/
/extracted_keypoints/
/bst_data/

# OS files
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.temp
